body {
  margin: 0px;
  background-color: #dddddd;
}
.head {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 1px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.nav {
  background-color: white;
  display: flex;
  justify-content: center;
}
.item {
  width: 220px;
  margin: 10px;
  text-align: center;
}
.icon {
  width: 20px;
  height: 20px;
}
.main {
  background-color: aqua;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  background-color: bisque;
  width: 280px;
  margin: 10px;
}

/* CSS Media Query */
/* RWD核心設計工具 */
@media (max-width:1250px){
    /* 如果螢幕寬度小於1250px，套用這個區塊的設定 */
    .box{
        width: 45%;
    }

}
@media (max-width:500px){
    /* 如果螢幕寬度小於500px，套用這個區塊的設定 */
    .head{
        font-size: large;
    }
    .box{
        width: 90%;
    }
}
