    /* CSS註解 */
        /* CSS選擇器 (Selector) */
        /* Class選擇器 */
        .title {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: bold
        }

        .content {
            width: 50%;
            height: 30px;
            margin-left: 100px;
            padding: 10px;
            border: 1px dashed blue;
            color: #666666;
        }

        .keyword {
            color: red;
        }

        .del {
            text-decoration: line-through;
        }

        /* id選擇器 */
        #p1 {
            text-decoration: underline;
        }

        /* 標籤名稱選擇器 */
        body {
            background-color: #a1a1a1d2;
        }